:root{
  --tituloPrincipal: 'Fruktur', cursive;
  --subTitulo:'PT Sans', sans-serif;
  --parrafo: 'PT Serif', serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*globales*/
img{
  max-width: 100%;
  max-height: 100%;
}
body{
  background: linear-gradient(90deg, rgba(130,166,168,1) 0%, rgba(231,186,186,1) 50%, rgba(207,175,233,1) 100%);
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1{
  margin: 0;
}

/*titulo*/
.titulo{
  font-family: var(--tituloPrincipal);
  text-align: center;
  font-size: 4.5rem;
 padding: 3rem 0 1rem 0;
}


/*input*/
.buscador{
  display: flex;
  justify-content: center;
}

.buscador__input{
  background: radial-gradient(circle, rgba(229,213,232,1) 0%, rgba(169,184,182,1) 100%);
  display: inline-block;
  width: 95%;
  height: 3rem;
  margin: 2rem 0 4rem 0;
  padding: 2rem 2rem;
  font-size: 2rem;
  font-family: var(--parrafo);
  font-weight: 700;
  border: 1px solid black;
  border-radius: 30px;
}

/*cards*/
.cards{
  max-width: 60%;
  margin: 0 auto;
  display: grid;
  row-gap: 3rem;
}

/*card de cada personaje*/
.card{
  border: 2px solid #000;
  border-radius: 5%;
  background: linear-gradient(0deg, rgba(228,167,148,1) 9%, rgba(137,175,137,1) 98%);
  -webkit-box-shadow: 3px 5px 5px 1px rgba(0,0,0,0.32);
  -moz-box-shadow: 3px 5px 5px 1px rgba(0,0,0,0.32);
  box-shadow: 3px 5px 5px 1px rgba(0,0,0,0.32);
}

.card__position{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.card__img{
   width: 15rem;
   height: 15rem;
}

.card__img img{
  border-radius: 50%;
}

/*informacion de cada personaje*/
.infoPersonaje .info__nombre,
.infoPersonaje .info__estado
{
  text-align: center;
}

.info__nombre {
  font-size: 2rem;
  font-family: var(--subTitulo);
  margin-bottom: 2rem;
}
.info__estado{
  font-size: 2rem;
  font-family: var(--parrafo);
}

.info__estado span{
  font-weight: bold;
}

/*botones de las cards*/
.contenedorBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.btn{
  background: radial-gradient(circle, rgba(103,118,145,1) 0%, rgba(227,208,204,1) 0%);
  margin-top: 1rem;
  cursor: pointer;
  display: inline-block;
  width: 90%;
  height: 3rem;
  border-radius: 3rem;
  border: 1px solid #000;
  font-family: var(--parrafo);
  font-weight: bold;
  font-size: 1.5rem;
}

.btn:hover{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(68,68,166,1) 0%, rgba(146,155,190,1) 0%);
}

/*contenedor personaje*/
.contenedor__personaje{
   width: 30rem;
   margin: 2rem auto 0 auto;
}
@media(min-width:480px){
  .buscador__input{
    width: 70%;
  }
  .cards{
    grid-template-columns: repeat(2,1fr);
    column-gap: 3rem;
    max-width: 70%;
  }

}

/*mensaje error*/
.error{
  text-align: center;
  font-size: 4rem;
  font-family: var(--subTitulo);
  font-weight: bold;
}

@media(min-width:768px){
  .buscador__input{
    width: 40%;
  }
  .cards{
    grid-template-columns: repeat(3,1fr);
    column-gap: 3rem;
    max-width: 70%;
  }

  .contenedorBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }
  
  .btn{
    cursor: pointer;
    display: inline-block;
    width: 45%;
    height: 3rem;
    border-radius: 3rem;
    border: 1px solid #000;
    font-family: var(--parrafo);
    font-weight: bold;
    font-size: 1.5rem;
  }
}
